# What files to ignore?
*.creator
*.config
*.files
*.includes
*.o
*.out
*.bin
*.exe
*.pro
*.pro.user*
*.creator.user*
*~
*.vt[uks]
*.pvt[uks]
*.visit
*.cproject
*.project
*.DS_Store
*._.DS_Store
*.sw[op]
*script*
*.job
*.pvsm
*ddt*
*.aux
*.fdb_latexmk
*.log
*.pdfsync
*.spl
*.synctex.gz
*.bbl
*.blg
sync
.rsync.exclude

# What directories to ignore
*[Dd]ebug*
*[Rr]elease*
*[Oo]bjs*
*[Pp]roject[s]*
*[Bb]uild*
*[Xx]code*
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
